section{
    background-image: url("https://www.eoi.es/sites/default/files/inline-files/logoeoiok.jpg");
    border: 1px;
    border-style: solid;
    background-repeat: repeat-x;
    padding: 40px;
}